In [4]:
from ollama import Client

def glenda_talk(prompt):
    
    client = Client(host='http://localhost:11434')
    response = client.chat(
    model='qwen2.5', 
    messages=[ {'role': 'user',
    'content': prompt}], 
    stream=True)

    res_list = ''
    for chunk in response:
        res_list += chunk['message']['content']

    return res_list

In [ ]:
glenda_talk("hey there?")

'Hello! How can I assist you today?'

In [ ]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
import pandas as pd

class Connect:
    def __init__(self, host, user, password, db):
        self.host = host
        self.user = user
        self.password = password
        self.db = db

        driver = "SQL Server"

        connection_string = f'DRIVER={driver};SERVER={self.host};PORT=1433;DATABASE={self.db};UID={self.user};PWD={self.password};&autocommit=true'
        connection_url = URL.create("mssql+pyodbc", query={"odbc_connect": connection_string})
        self.engine = create_engine(connection_url, use_setinputsizes = False, echo = False)

        self.db_connection = self.engine.connect()
    
    def fetch_data(self, query):
        return pd.read_sql(query, con=self.db_connection)
    
    def insert_data(self, df, tablename):
        df.to_sql(tablename, if_exists = 'append', index = False, con = self.db_connection)

    def __del__(self):
        try:
            self.db_connection.close()
        except:
            None
    

connector = Connect('MSI', "", "", 'Glenda_DB')

In [ ]:
connector.fetch_data('select * from Stores')

,usr_id,user_firstname,user_surname,user_location,user_phone_nr,user_email
0,1,John,Doe,Downtown,555-123-4567,john.doe@example.com
1,2,Jane,Smith,Uptown,555-234-5678,jane.smith@example.com
2,3,Mike,Brown,Suburbia,555-345-6789,mike.brown@example.com

In [17]:
print("Test koop46")

Test koop46